html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #F6F5EF;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

.swiper {
    width: 70%; /* 배너 너비 */
    height: 30%; /* 배너 높이 */

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}
.swiper-wrapper{

}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color:white;
}

/* 상품진열 */

.contentbox{
    width:100%;

}
.container {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    width: 70%;


}
.item-list {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 1px;

}
.item-list li{

    margin:10px;
}


.product_img{
    width:100%;

}

.brand{
    font-size:13px;
}
.name{
    font-size:11px;
}
.price{
    font-size:15px;
}






