{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<body>
    <header>
        <h2>장바구니</h2>
    </header>
    <section class="cart">
        <table class="cart__list">
            <form>
                <thead>
                    <tr>
                        <td>선택</td>
                        <td>사진</td>
                        <td>상품정보</td>
                        <td>수량</td>
                        <td>상품금액</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cart__list__detail">
                        <td><input type="checkbox"></td>
                        <td>사진</td>
                        <td>상품명</td>
                        <td>N개</td>
                        <td>
                            <span class="price">0원</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"><button class="cart__list__optionbtn">장바구니 비우기</button>
                            <button class="cart__list__optionbtn">선택상품 삭제</button>
                        </td>
                        <td>
                            <span class="price__total">총 금액</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </form>
        </table>
        <div class="cart__mainbtns">
            <button class="cart__orderbtn left">쇼핑 계속하기</button>
            <button class="cart__orderbtn right">주문하기</button>
        </div>
    </section>
</body>

{% endblock %}