{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">

<div class="container">
    <div class="box">
        <form action="{% url 'add_cart' product.id %}" method="POST">
        {% csrf_token %}
        <div class="product_detail">
            <div class="product_img">
                <div><img width=300px src="{{product.img}}"></div>
            </div>

            <div class="product_info">
                <div class="brand">
                    {{product.brand}}
                </div>
                <div class="name">
                    {{product.name}}
                </div>
                
                <li><div class="price">
                    <span class="price_text">판매가</span>    
                    <span class="price_content">{{product.price}}원</span>
                </div></li>
                <hr>
                <li><div class="delivery">
                    <span class="delivery_text">배송정보</span> 
                    <span class="delivery_content"></span> 무료/해외배송/관부가세 포함
                </div></li>
                <hr>
                <li><div class="amount">
                    <span class="amount_text">수량</span> 
                    <span class="amount_content">


                            <select name="amount" id="pet-select">
                                <option value="0">수량을 선택하세요</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            {% for message in messages %}
                            <script>
                                alert("{{ message }}");
                            </script>
                            {% endfor %}
                    </span> 
                </div></li>

            </div>
        </div>
    
        <div class="product_btn">
            <div class="cart">
                <button type="submit" id="cart_btn" class="cart_btn">장바구니</button>
            </div>
            <div class="buy">
                <button class="buy_btn">즉시 구매하기</button>
            </div>
            <div class="heart">
                <i class="bi bi-clipboard-heart"></i>
            </div>
            <div class="share">
                <i class="bi bi-share-fill"></i>
            </div>        
        </div>
        </form>
    </div>
</div>
{% endblock %}