<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">{{ user.username }}님, 환영합니다!</a>
    <a href="{% url 'accounts:modify' %}">회원정보 수정</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:register' %}">회원가입</a>

    {% endif %}

    <h1>여기가 쇼핑몰홈</h1>
    
</body>
</html>