<h1>회원정보 수정</h1>
<form action="{% url 'accounts:modify' %}" method="POST">
    {% csrf_token %}
    <br><br>

    {% if error %}
        <p>{{error}}</p>
        <br>
    {% endif %}

    <h3>아이디</h3>
    <input type="text" name="username">
    <br><br>
    <h3>비밀번호</h3>
    <input type="password" name="password">
    <br><br>
    <h3>이름</h3>
    <input type="text" name="name">
    <br><br>
    <h3>휴대전화</h3>
    <input type="tel" name="pnumber">
    <br><br>
    <h3>주소</h3>
    <input type="address" name="address">
    <br><br>       
    <h3>이메일</h3>
    <input type="email" name="email">
    <br><br>
    <input type="submit" value="제출하기">

</form>