{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <h1>회원가입</h1>
<form action="{% url 'accounts:register' %}" method="POST">
    {% csrf_token %}
    <br><br>

    {% if error %}
        <p>{{error}}</p>
        <br>
    {% endif %}

    <h3>아이디</h3>
    <input type="text" name="username">
    <br><br>
    <h3>비밀번호</h3>
    <input type="password" name="password">
    <br><br>
    <h3>비밀번호 확인</h3>
    <input type="password" name="password_check">
    <br><br>
    <h3>이름</h3>
    <input type="text" name="name">
    <br><br>
    <h3>휴대전화</h3>
    <input type="tel" name="pnumber">
    <br><br>        
    <h3>이메일</h3>
    <input type="email" name="email">
    <br><br>
    <input type="submit" value="제출하기">

</form> -->

<!DOCTYPE html>
<html lnag="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="{% static 'css/register.css' %}" rel="stylesheet"/>
</head>
  
<body>
  <div class ="main-signup">
        <!--회원가입 부분-->
    <header>
      <h1>회원가입</h1>   
    </header>
    <br>
    <br>
                       
        <section class="signup-wrap">
       
            <div>
                <!--아이디,비번,비번재확인-->
              <h3>아이디</h3>
                 <div style="display: flex;">
                    <span class="signup-input" style="width:100%; margin: 10px 0px 0px 0px">
                        <input id="signup-phone" type="text" placeholder="영문, 숫자 6~12자"></input>
                    </span>
                    <span class="cnum-btn-wrap">
                        <button id="cnum-btn">중복확인</button>
                    </span>
                </div>
             
                 

                <h3>비밀번호</h3>
                <span class="signup-input">
                    <input id="signup-pw" type="text" placeholder="숫자, 영문, 특수문자 조합 최소 8자">></input>
                    <span class="pw-lock"></span>
                </span>

                <span class="signup-input" style="width:100%; margin: 10px 0px 0px 0px">
                    <input id="signup-pww" type="text" placeholder="비밀번호 재확인"></input>
                    <span class="pww-lock"></span>
                </span>

            </div>
            <div style="margin-top: 35px;">
                  <h3>이름</h3>
                   <span class="signup-input">
                    <input id="signup-name" type="text"></input>
                   </span>

            </div>

            <div style="margin-top: 35px;">
                <!--휴대전화-->
                <h3>휴대전화</h3>
                <span class="signup-input">
                    <select id="signup-country" class="selectbox" name="country" onchange="">
                        <option value="ko">대한민국 +82</option>
                    </select>
                </span>
                <div style="display: flex;">
                    <span class="signup-input" style="width:100%; margin: 10px 0px 0px 0px">
                        <input id="signup-phone" type="text" placeholder="전화번호 입력"></input>
                    </span>
                    <span class="cnum-btn-wrap">
                        <button id="cnum-btn">인증번호 받기</button>
                    </span>
                </div>
                
                <span class="signup-input-c" style="margin-top: 10px;">
                    <input id="signup-cnum" type="text" placeholder="인증번호 입력하세요"></input>
                </span>
            </div>

            <div style="margin-top: 35px;">

                <h3>이메일</h3>
                 <span class="signup-input">
                  <input id="signup-email" type="text"></input>
                 </span>

            </div>

            <div>
                <!--가입하기-->
                <div class="signup-btn-wrap" style="margin-top: 40px;">
                    <button id="signup-btn">가입하기</button>
                </div>
            </div>
        </section>
    </div>    
</body>
</html>
{% endblock %}